
.logo-section {
  background-color: black;
  padding: 11px;
  height: 60px;
  float: left;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#patisserie-logo {  
 max-width: 18%;
}

.navigation{
  padding: 0px;
  display:none;
}

a{
  text-decoration: none;
  color: white;
}

li{
  font-size: 20px;
  list-style-type: none;
  display: inline;
  font-family: 'Roboto', sans-serif;
  margin: 0 20px 0px 0; 
  color:white;
}

.social {
  color: white;
  word-spacing: 0.8em;
  font-size: 1.5em;
}

.social span {
 display: none;
}

.list{
  color: white;
  word-spacing: 0.8em;
  font-size: 1.5em;
}


.section-banner{
  background-image: url('imagenes/oreo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.9;
  background-position: center center;
  text-align: center;
  margin: auto;
  height: 54vh;
}

h1{
  
  color: white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 4em;
  font-size: 2em;
}

h1 span {
  color:#c8c8c8;

}

h2{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-top: 2%;
  letter-spacing: 1.5px;
}

.info{

  margin-top: -3em;
}
  
.other-titles{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 2em;
  color: black;
}


p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 2em;
}


.productos-images img{

    max-width: 100%;
    padding: 1%;

}

