
.logo-section {
  background-color: black;
  padding:2%;
  height: 49px;
  float: left;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo-big-screen #logo{ 
  display:none
}
  

#patisserie-logo {  
 max-width: 15%;
 margin-left:1%;
}

.navigation{
  padding: 0px;
  display:none;
}

a{
  text-decoration: none;
  color: white;
}


.social {
  color: white;
  word-spacing: 0.8em;
  font-size: 1.5em;
  position: absolute;
}

.social span {
 display: none;
}

.list{
  color: white;
  word-spacing: 0.8em;
  font-size: 1.5em;
}


.section-banner{
  background-image: url('imagenes/oreo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.9;
  background-position: center center;
  text-align: center;
  margin: auto;
  height: 54vh;
}

h1{
  color: white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 4em;
  font-size: 2em;
}

h1 span {
  color:#eeeeee;
}

h2{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-top: 2%;
  letter-spacing: 1.5px;
}

.info{
  margin-top: -3em;
}
  
.other-titles{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 2em;
  color: black;
}


p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 2em;
}


.productos-images img{
  max-width: 100%;
  padding: 1%;

}

.pot .cheesecake-oreo{
  max-width: 100%;
  padding: 1%;
}


h3{
  color:black;
  font-family:'Amatic SC', cursive;
  text-decoration: underline;
  font-size: 1.5em;
}

li{
  font-size: 16px;
  list-style-type: value;
  font-family: 'Roboto', sans-serif;
  margin-left: 0;
  color:black;
  text-align: left;
}


#services .fa{
  width: 10%;
  margin-top: 9%;
}


h4{
  color:black;
  font-family:'Amatic SC', cursive;
  font-size: 1em;
  text-align: center;
}

.parte1{
 display: flex;
 align-content: row;
 justify-content: space-around;
 padding: 2%;
}

.parte2{
 display: flex;
 align-content: row;
 justify-content: space-around;
 padding-bottom: 5%;
}


.services1 {
  color: black; 
  font-size: 1.5em;
  text-align: center;
  padding:2%;
  max-width: 45%;
  border:#eeeeee;
  border-radius: 40px;
  background: #eeeeee;
}


.services2 {
  color: black; 
  font-size: 1.5em;
  text-align: center;
  padding:2%;
  max-width: 45%;
  border:#eeeeee;
  border-radius: 40px;
  background: #eeeeee;
}


.services3 {
  color: black; 
  font-size: 1.5em;
  text-align: center;
  padding:2%;
  max-width: 45%;
  border-radius: 40px;
  border:#eeeeee;
  background: #eeeeee;
}


.services4 {
  color: black; 
  font-size: 1.5em;
  text-align: center;
  padding:2%;
  max-width: 45%;
  border-radius: 40px;
  border:#eeeeee;
  background: #eeeeee;
}


.footer{
  background: black;
  height: 514px;
  text-align: center;
  padding-top: 24%;
}

.footer .last {
  color:white;
  font-family: 'Roboto', sans-serif;
}

.footer .address{
  text-decoration: underline;
}

.footer .intersection{
  color:darkturquoise;
  font-size: 2em;
  font-family:'Amatic SC', cursive;
  text-align: center;
}

form{
font-size: 1.5em;
font-family:'Amatic SC', cursive;
color: white;

}



@media screen and (min-width: 600px) { 











}

@media screen and (min-width: 1024px) {

.other-titles{
  margin-top: 5%;
}



.productos-images {
  margin: 0%;
  overflow: auto;
 } 
 
.productos-images .Mousse{
 width: 22%;
 float: left;
 margin-left: 1%;
}

.productos-images .Alfajores{
 width: 20%;
}

 .productos-images .Mousse-tres-leches{
 width: 22%;
 }

 .productos-images .limon{
  width: 23%;
  float: right;
  margin-right: 3%;



 }












}